*{
  font-family: Cabin;

}


.container{
  max-width: 1140px;
  position: relative;
  margin: 32px;
  border: none;

}
.page-header{
  max-width: 100%;
  float:left;
}
header img{

  max-width: 80%;
}

h1{
text-align: left;
}
h2{
text-align: left;
  font-size: 1.25em;
}

.menu-button{
  text-align: right;
  margin-top: 3em;
}
.layout{
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  width: 100%;
}
.slideshow{
  position: relative;
  display: flex;
  flex-direction:column;
  justify-content: center;

}
#design{
  width: 100%;
}
.slide-back{
  position: absolute;
  left: 8;

}
.slide-forward{
  position: absolute;
  right: 0;
}
.link-box{
  display: block;
  width: 300px;
  height: 300px;

}
.slideshow{
  margin-top: 50px;
  grid-column-start: 1;
  grid-column-end: 4;

}

.two, .three, .four{
display:flex;
justify-content: center;

}

nav{

    width:20%;
    float: right;

}

.menu-nav{

  position: absolute;


}
.main-menu form{
    padding:5px;
}

.main-menu li{
  padding:6px;
  border-bottom: solid 1px #000;

}
.main-menu ul{

  border: solid 1px #000;
  list-style-type: none;
  background-color: white;
}

.main-menu a{
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

}

a:link {
  color: black;

}
a:hover{
  color: grey;
}

.dropdown li{
    display:block;
    margin-left: 0;
    margin-right: 20em;
    text-align: center;
    background-color: white;

          }
.dropdown ul{
  text-align: center;
  border: solid 1px #ccc;
  padding: 2px;
  background-color: #fff;
  width: 120px;
  position: absolute;
  display: none;

}
.dropdown:hover ul{
  display: block;
  text-align: center;

}

.map{
  width: 100%;
}


/*Desktop styles*/
@media(min-width: 768px){
header{
    width:40%;
      }

nav{
    width:60%;
    text-align: right;
    margin-top: 1em;
    border: none;
      }

.menu-button{
          display: none;
      }

.main-menu ul{
      position: static;
      width:auto;
      float:left;
      border: none;
      margin-top: -.02em;
  }
.main-menu li{
  display: inline-block;
  border: none;

}
.menu-nav{
  position: absolute;
  width:auto;
  border: none;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2em;
  margin-left: 6em;
  float: right;
}
.search{
  float:right;

}


.dropdown li{

    display:block;
    margin-left: 0;
          }
.dropdown ul{
  text-align: center;
  border: solid 1px #ccc;
  padding: 6px;
  background-color: #fff;
  width: 120px;
  position: absolute;
  display: none;

}
.dropdown:hover ul{
  display: block;
  text-align: center;

}
.map{
  grid-column-start: 1;
  grid-column-end: 4;
}

}
